
@{
    ViewBag.Title = "MssageMgnt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class='row panel panel-info' style="margin-top: 10px;">
    <div class='panel-heading' style="height:40px;">
        <span style="font-size:16pt; font-family:'Microsoft YaHei';display:inline-block;" class="col-sm-2">@ViewBag.Title.</span>
    </div>
</div>
<div class="panel-body">
    <div class="form-group" style="text-align:right;">
        <input type="button" id="btnAdd" class="btn btn-primary" value="添加" />
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" data-toggle="table" id="MessageList">
            <thead>
                <tr>
                    <th style="width:30px;">NO.</th>
                    <th style="width:200px;">号码</th>
                    <th style="text-align:center;">内容</th>
                    <th style="width:200px;">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="View" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="text-align:center; margin-top:7em;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#d9edf7;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel" style="text-align:left;">
                    内容
                </h4>
                <input type="hidden" id="hdnMode" />
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="control-label col-sm-2">号码：</label>
                    <div style="align-content:flex-start; text-align:left;">
                        <input id="lblWord" type="text" class="form-control" style="text-align:left;" />
                        <input type="hidden" id="hdnID" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <label id="result" class="control-label col-sm-2" style="text-align:left;">内容：</label>
                    <div style="align-content:flex-start;">
                        <input id="txtStroke" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave">保存</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        LoadMessageList("");

        $("#btnSearch").click(function () {
            var key = $("#txtKey").val();
            LoadMessageList(key);
        });

        $("#btnSave").click(function () {
            var id = $("#hdnID").val();
            var cnt = $("#txtStroke").val();
            var word = $("#lblWord").val();
            var mode = $("#hdnMode").val();
            var data = { ID: id, Words: word, StrokeCnt: cnt, mode: mode };
            $.ajax({
                url: "/Manage/SaveStroke",
                type: "get",
                datatype: "json",
                data: data,
                success: function (result) {
                    var json = eval("(" + result + ")");
                    if (json.Status == "Success") {
                        $("#View").modal("hide");
                        alert("修改成功！")
                        location.reload();
                    }
                    else
                        alert(json.ErrorMessage);
                },
                error: function () {

                }
            });
        });

        $("#btnAdd").click(function () {
            $("#lblWord").val("");
            $("#txtStroke").val("");
            $("#hdnMode").val("New");
            $("#lblWord").removeAttr("disabled");
            $("#View").modal("show");
        });
    });

    function LoadMessageList(key)
    {
        $("#MessageList").DataTable().destroy();
        var tbl = $('#MessageList').DataTable({
            "responsive": true,
            "processing": true,
            "select": true,
            "ajax": {
                url: "/Manage/LoadMessage",
                type: "get",
                data: { key: key }
            },
            "columns": [
                        {
                            "data": null,
                            render: function (data, type, row) {
                                return row.ID;
                            }
                        },
                        { "data": "Code" },
                        { "data": "Content" },
                        {
                            "data": null,
                            render: function (data, type, row) {
                                return '<input id="btnEdit" no="' + data.ID + '" Code="' + data.Code + '" type="button" class="btn btn-primary" onClick="EditStroke(this)" value="修改"></input>';
                            }
                        }
            ],
            "searching": true
        });
        tbl.ajax.reload(function (json) {
            if (json.Status == "Error") {
                alert(json.Messege);
            }
        });
        $("#StrokeList_filter input[type=search]").width("200px");
    }

    function EditStroke(obj)
    {
        var btn = $(obj);
        var id = btn.attr("no");
        var word = btn.attr("word");
        var Cnt = btn.attr("cnt");
        $("#lblWord").val(word);
        $("#lblWord").attr("disabled", "disabled");
        $("#hdnID").val(id);
        $("#txtStroke").val(Cnt);
        $("#hdnMode").val("Edit");
        $("#View").modal("show");
    }



</script>